.auth_page {
    background: url('back.png') no-repeat center top / cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90.4vh;
}

.container-auth {
    padding-top: 10%;
}

.register-error {
    transition: opacity 1s;
    opacity: 0;
    width: 300px;
    border-radius: 8px;
    background: #ff7079;
    color: white;
    font-weight: 500;
    border: 1px solid red;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.opacity {
    opacity: 1;
}