.auth_page {
    background: url('back.png') no-repeat center top / cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90.4vh;
}

.container-auth {
    padding-top: 60px;
}

.form-register {
    flex-direction: column;
    background: rgba(0,0,0, 0.9);
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    padding-bottom: 25px;
}

.error-valid {
    color: #000000;
}

.form_radio {
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.form_radio input[type=radio] {
    display: none;
}

.form_radio label {
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    padding-right: 20px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.form_radio label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -3px;
    bottom: -1px;
    border: 1.5px solid white;
    border-radius: 25px;
}

.form_radio label:after {
    content: '';
    position: absolute;
    left: 3px;
    bottom: 1px;
}

.form_radio input[type=radio]:checked + label:after {
    content: '✓';
}

.form_radio label:hover:before {
    filter: brightness(120%);
}

button[type=submit] {
    margin-top: 10px;
    background: #fce9cb;
    outline: none;
    border: none;
    width: 170px;
    height: 36px;
    border-radius: 20px;
    font-weight: 500;
}