.auth_page {
    background: url('back.png') no-repeat center top / cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90.4vh;
}

.container-auth {
    padding-top: 30px;
}
