.form-panel {
    width: 300px;
    border-radius: 8px;
    background: #c68e5f;
    padding: 10px 10px;
    margin: 0 auto;
    position: relative;

}

.the_seam {
    width: 100%;
    height: 100%;
    border: 1px dashed white;
    border-radius: 8px;
    padding: 30px 15px;
}