.form_field {
    padding: 5px 10px;
    width: 100%;
}


.form-error {
    font-style: italic;
    font-size: 14px;
    color: rgba(255,255,255,.7);
    position: absolute;

    text-align: center;
    width: 100%;
    background: #ff5159;
    border: 1px solid #db2d2d;
    border-top: none;
    border-radius: 0 0 5px 5px;
}


.clear_block {
    height: 29px;
    position: relative;
}

.form-panel {
    width: 350px;
}